.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-links a:hover {
  color: #1976d2;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-logo {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 24px;
}
